<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>发布会签到系统</title>
</head>
<style>
body
{
	background-color:white;
}
h3
{
	color:black;
	text-align:center;
}
input{
    width: 220px;
    height: 30px;
}
td
{
	font-family:"Times New Roman";
	font-size:20px;
}
</style>
<body>
<h3 align="center">Press conference sign in system</h3>
<form method="post">
    <table align="center">
        <tr>
            <td>用户名：</td>
            <td><input name="username" type="text" placeholder="请输入用户名"></td>
        </tr>
        <tr>
            <td>密码：</td>
            <td><input name="password " type="password" placeholder="请输入密码"></td>
        </tr>
        <tr>
            <td colspan="2" align="center" >
                <button id = type="submit">登录</button></td>
        </tr>
    </table>

</form>
</body>
</html>